.homeHero {
  min-height: 90vh;
  max-height: 1080px;
  padding-right: 40px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;

  overflow: hidden !important;
}

.homeHero__img {
  height: 80vh;
  max-height: 864px;
  background-image: url(../images/heroImg.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.homeHero__content {
  max-width: 764px;
  margin-left: -64px;
}

.homeHero__content span {
  color: hsla(0, 0%, 100%, 0.5);
}

.homeHero__content p {
  color: var(--text-color);
}

.homeHero__bg {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: -1;
  width: 65vw;
  height: 110vh;
  max-height: 1350px;
  background-color: var(--footer-bg);
}

@media screen and (max-width: 550px) {
  .homeHero__bg {
    height: 100vh;
  }
}

@media screen and (max-width: 550px) {
  .homeHero {
    min-height: auto;
    max-height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    padding-right: 0px;
    align-items: initial;
  }

  .homeHero__img {
    height: 45vh;
    max-height: 864px;
  }

  .homeHero__content {
    background-color: var(--footer-bg);
    margin-left: 0px;
    max-width: initial;

    padding: 48px 20px;
  }

  .homeHero__bg {
    display: none;
  }
}
