.investments {
  padding: var(--section-padding);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 24px;
  row-gap: 48px;
}

.investments div {
  padding-right: 48px;
}

.investments__header {
  grid-row: span 2;
}

.investments__header h2 {
  margin-bottom: 24px;
}

.investments__item svg {
  width: 40px;
  height: 40px;
  margin-bottom: 24px;
  transition: transform 200ms ease-in;
}

.investments__item svg * {
  color: var(--sec-color);
}

.investments__item:hover svg {
  transform: scale(1.3);
}

.investments__item h3 {
  margin-bottom: 16px;
}

.investments__item p {
  font-size: 16px;
}

@media screen and (max-width: 900px) {
  .investments {
    grid-template-columns: repeat(2, 1fr);
  }

  .investments__header {
    grid-row: initial;
    grid-column: span 2;
  }
}

@media screen and (max-width: 550px) {
  .investments {
    grid-template-columns: 1fr;
  }

  .investments__header {
    grid-column: initial;
  }

  .investments div {
    padding-right: 0px;
  }
}
