.experienceList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}

.experienceList__itemNo {
  font-size: 117px;
  color: #84919f;
  margin-bottom: 8px;
}

.experienceList__item h3 {
  margin-bottom: 16px;
}

.google {
  color: #3cc74e;
}

.facebook {
  color: #609bff;
}

.dribbble {
  color: #e95d90;
}

.experienceList__item p {
  font-size: 16px;
  color: var(--text-color);
}
