:root {
  --bg-color: #000000;
  --footer-bg: #181823;
  --text-color: #ffffff;
  --paragraph-color: #8491a0;
  --sec-color: #5221e6;

  --side-space: 72px;
  --section-padding: 120px var(--side-space);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sen", sans-serif;
  scroll-behavior: smooth;
  color: var(--text-color);
  z-index: 1;
}

body {
  font-family: "Sen", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  background-color: var(--bg-color);
  font-size: 18px;
  overflow-x: hidden;
}

h1 {
  font-size: 76px;
  line-height: 110%;
  margin-bottom: 32px;
}

h2 {
  font-size: 55px;
  line-height: 110%;
}

h3 {
  font-size: 24px;
  line-height: 120%;
}

p,
li {
  color: var(--paragraph-color);
  font-size: 18px;
  line-height: 150%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
.button {
  font-size: 18px;
  outline: none;
  border: 2px solid var(--sec-color);
  cursor: pointer;

  background-color: var(--sec-color);
  font-weight: 700;

  display: flex;
  gap: 10px;
  align-items: center;
  padding: 15px 24px;
  transition: background-color 350ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

button:hover,
.button:hover {
  background-color: transparent;
  box-shadow: 0px 15px 25px -7px rgba(0, 0, 0, 10%);
}

img {
  user-select: none;
}

@media screen and (max-width: 900px) {
  :root {
    --side-space: 40px;
    --section-padding: 80px var(--side-space);
  }

  h1 {
    font-size: 56px;
  }

  h2 {
    font-size: 45px;
  }
}

@media screen and (max-width: 550px) {
  :root {
    --side-space: 20px;
    --section-padding: 64px var(--side-space);
  }

  h1,
  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 24px;
  }
}
