.companySlider {
  margin-top: 60px;
  height: 140px;
  width: 100%;
  background-color: var(--bg-color);
  position: relative;
  border: 1px solid hsla(0, 0%, 100%, 0.12);
}

.thumbs {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: auto;
  display: flex;
}

.thumbs div {
  height: 100%;
  width: 25vw;
  border-right: 1px solid hsla(0, 0%, 100%, 0.12);
  display: flex;
  align-items: center;
  justify-content: center;
}

.thumbs div img {
  max-width: 30%;
  max-height: 50%;
  object-fit: cover;
}

@media screen and (max-width: 900px) {
  .companySlider {
    height: fit-content;
  }

  .thumbs {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 140px);
  }

  .thumbs div {
    width: 50vw;
    border: 1px solid hsla(0, 0%, 100%, 0.12);
  }
}
